.contacto{
    display: flex;
    gap: 25px;

}
.contacto section{
    width: 100%;
}
.datos{
    font-size: 14px;
}
.datos ul li{
    font-size: 13px;
}
.datos ul li a{
    text-decoration: none;
}
.datos ul li a:hover{
    background-color:#6da9ed;
}
.formulario p{
    display: flex;
}
.formulario p label{
    min-width: 80px;
    display: flex;
    align-items: center;
}
.formulario p input,
.formulario p textarea{
    width: 100%;
    background-color: #ddd;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px;
} 
.formulario textarea{
    resize: none;
    height: 150px;
}
.formulario p:nth-child(5){
    align-items: start;
}
.formulario input[type=submit]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px gray;
    color: white;
    font-size: 16px;
    width: auto;
    margin-left: 80px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.formulario input[type=submit]:hover{
    background-color: #2e64a1;
}
